[mysqld]
max_connections = 200
innodb_buffer_pool_size = 4G               # Boost to use memory more effectively
innodb_log_file_size = 1G
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_io_capacity = 1000
innodb_io_capacity_max = 2000
innodb_thread_concurrency = 0
tmp_table_size = 128M
max_heap_table_size = 128M
table_open_cache = 2048
open_files_limit = 65535
query_cache_type = 0
query_cache_size = 0
performance_schema = OFF
skip-log-bin
slow_query_log = 0

